.wrap {
  width: 100vw;
}

.container {
  margin: 0 auto;
  max-width: 1216px;
  text-align: start;
}

.title {
  font-family: Kanit;
  font-size: 39px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0.78px;
  color: #1D1E2C;
  text-align: start;
  padding-bottom: 8px;
  width: max-content;
  border-bottom: 4px solid #5B7CFE;
}

.dark {
  background-color: #1D1E2C;
}