.button {
  padding: 8px 40px;
  border-radius: 100px;
  font-family: Karla;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #fcfcfc;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bigPrimary {
  background-color: #5b7cfe;
  height: 32px;
}

.bigPrimary:hover {
  background-color: #ebefff;
  color: #5b7cfe;
}

.bigSecondary {
  background-color: none;
  border: 1px solid #5b7cfe;
  color: #ffffff;
  height: 32px;
}

.bigSecondary:hover {
  background-color: #ebefff;
  color: #5b7cfe;
}

.smallPrimary {
  background-color: #5b7cfe;
  color: #fcfcfc;
  font-family: Karla;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  border: 1px solid #5b7cfe;
}

.smallPrimary:hover {
  background-color: #ebefff;
  color: #5b7cfe;
  border: 1px solid #ebefff;
}

.smallSecondary {
  background-color: none;
  color: #5b7cfe;
  border: 1px solid #5b7cfe;
  font-family: Karla;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.smallSecondary:hover {
  background: #1d1e2c;
  color: #fcfcfc;
  border: 1px solid #1d1e2c;
}

.disabled {
  background-color: none;
  color: #adbeff;
  pointer-events: none;
}
