.wrap {
  width: 100vw;
  margin-bottom: 40px;
  margin-top: 64px;
}

.container {
  margin: 0 auto;
  max-width: 1216px;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transform: translateY(22%);
  animation: ani 1.5s forwards;
}
@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
  0% {transform: translateY(22%);}
  100% {transform: translateX(0);}
}

.searchContainer {
  position: relative;
}

.searchIcon {
  position: absolute;
  top: 12px;
  left: 20px;
}

.checkPicker {
  width: 256px;
  height: 48px;
}

.dropdownMenu {
  font-family: Karla;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.08px;
  color: #1d1e2c;
}