.wrap {
  width: 100vw;
  background-color: #1d1e2c;
  padding: 8px 0;
}

.container {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  max-width: 1216px;
}

.containerLogo {
  cursor: pointer;
}

.containerSidebar {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.categories {
  text-decoration: none;
  font-family: Karla;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #fcfcfc;
  transition: all 0.5s;
}

.categories:active {
  color: #fcfcfc;
  border-bottom: 2px solid #5b7cfe;
}

.activeСategories {
  color: #fcfcfc;
  border-bottom: 2px solid #5b7cfe;
}

.containerButtons {
  display: flex;
  gap: 32px;
}

.button {
  width: 96px;

}

