.card {
  width: 392px;
  box-shadow: 0px 4px 6px 0px rgba(176, 176, 176, 0.25);
  border: 1px solid #eee;
  border-radius: 20px;
  padding: 24px;
  box-sizing: border-box;
}

.first {
  display: flex;
  gap: 16px;
  padding-bottom: 12px;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 12px;
}

.avatar {
  width: 56px;
  height: 56px;
  -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.info {
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.firstInfo {
  display: flex;
  gap: 4px;
}

.data {
  color: #9c9c9c;
  font-family: Karla;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.06px;
}

.title {
  color: #040404;
  font-family: Kanit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.containerAnswers {
  display: flex;
  gap: 16px;
}

.answers {
  display: flex;
  gap: 6px;
}

.second {
  margin-bottom: 20px;
}

.text {
  color: #161616;
  font-family: Karla;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  opacity: 0.8;
  text-align: start;
  height: 84px;
}

.third {
  display: flex;
  justify-content: space-between;
}

.button {
  width: 84px;
  height: 16px;
  text-decoration: none;
}
