.wrap {
  width: 100vw;
  background-color: #1d1e2c;
  padding: 56px 0 80px;
  position: relative;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1216px;
  opacity: 0;
  transform: translateY(22%);
  animation: ani 1.5s forwards;
}
@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  0% {
    transform: translateY(22%);
  }
  100% {
    transform: translateX(0);
  }
}

.ukraine {
  margin-bottom: 8px;
}

.containerTop {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 56px;
}

.containerBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: Kanit;
  font-size: 61px;
  font-style: normal;
  font-weight: 500;
  line-height: 64px;
  text-transform: uppercase;
  color: #fcfcfc;
  text-align: left;
  max-width: 701px;
  margin-bottom: 24px;
}

.titleViolet {
  color: #5b7cfe;
}

.subTitle {
  font-family: Karla;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.1px;
  opacity: 0.8;
  text-align: start;
  max-width: 598px;
  color: #FCFCFC;
}

.image {
position: absolute;
right: 0;
top: 0;
}

.buttons {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  max-width: 488px;
}

.buttonBig {
  width: 408px;
}

.button {
  width: 155px;
}

.line {
  position: absolute;
right: -155px;
bottom: 20px;
}