.wrap {
  width: 100vw;
  background-color: #1d1e2c;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding-bottom: 160px;
}

.title {
  padding-bottom: 8px;
  border-bottom: 4px solid #5b7cfe;
  font-family: "Kanit";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
  color: #fcfcfc;
  text-align: start;
  margin-bottom: 80px;
}

.containerButton {
  display: flex;
  gap: 48px;
  flex-wrap: wrap;
  max-width: 1300px;
  margin-bottom: 160px;
}

.button {
  padding: 16px 27px;
  width: 762px;
  font-family: "Kanit";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.buttonTitle {
  display: flex;
  gap: 8px;
  align-items: center;
}

.advantages {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #fcfcfc;
  display: flex;
  align-items: center;
}

.containerContact {
  display: flex;
  justify-content: space-between;
}

.containerForm {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.containerBigText {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 56px;
  text-align: right;
}

.bigText {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 275;
  font-size: 120px;
  line-height: 96px;
  color: #fcfcfc;
}

.containerWithLine {
  display: flex;
  align-items: center;
  gap: 16px;
}

.containerSmallText {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: right;
}
.smallText {
  font-family: "Karla";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #fcfcfc;
}

.keyAreas {
  border-bottom: 1px solid #FCFCFC;
  width: 660px;
}

.keyAreas:hover {
  border-bottom: 1px solid #5b7cfe;
}